<div class="row">
  <div class="col-4 offset-4">
    <div class="info-box text-center">
      <form [formGroup]="detailsForm">

        <!-- Id-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Id</span>
          </div>
          <input [readOnly]="true" formControlName="id" id="id" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <!-- Username -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
          </div>
          <input [readOnly]="true" formControlName="username" id="username" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      </form>
    </div>
  </div>
</div>
