h1{
  text-align: center;
  padding-top: 50px;
}
.centerList{
  display: flex;
  justify-content: center;
}
.homeBtn{
  display: flex;
  justify-content: center;
}
.createBtn{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
