.bg {
  background-color: #fefefefe;
}

.info-box {
  border-radius: 5px;
  background-color: #808080ff;
  margin: 3% auto;
  padding: 2.5%;
}

  .info-box button {
    margin: 2%;
    padding: 1.5%;
    font-weight: bold;
  }

  .info-box label {
    display: block;
  }
